POSTGRES_USER="postgres-user-name"
POSTGRES_PASSWORD="postgres-password"
POSTGRES_DB="postgres-db-name"
CF_DNS_API_TOKEN=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"