# server
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# db
DATABASE_URL="postgresql://mockline:mockline@localhost:5432/mockline_dev"

# redis
REDIS_URL="redis://localhost:6379"

# auth (BetterAuth)
BETTER_AUTH_SECRET="generate-with-openssl-rand-hex-32"
BETTER_AUTH_URL="http://localhost:4000"

# gh OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# docker
DOCKER_HOST="unix:///var/run/docker.sock"
MOCK_BASE_DOMAIN="localhost"
# MOCK_BASE_DOMAIN="mockline.xyz"

# contour version baked into mock containers
CONTOUR_VERSION="1.2.0"

CF_DNS_API_TOKEN=""

# internal API secret (web → api server calls)
INTERNAL_API_SECRET="generate-random-secret"

# payments and billing
LEMONSQUEEZY_API_KEY=""
LEMONSQUEEZY_PRO_YEARLY_VARIANT_ID=""
LEMONSQUEEZY_PRO_MONTHLY_VARIANT_ID=""
LEMONSQUEEZY_TEAM_YEARLY_VARIANT_ID=""
LEMONSQUEEZY_TEAM_MONTHLY_VARIANT_ID=""
LEMONSQUEEZY_STORE_ID=""
LEMONSQUEEZY_WEBHOOK_SECRET=""

# resend
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
